#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
.quadrado {
    color: cyan;
    background-color: crimson;
    height: 200px;
    width: 200px;
    margin: 20px;
}
.quadrado4 {
    color: rgb(160, 8, 127);
    background-color: #000;
    width: 200px;
    margin: 20px;
}