h1{font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(186, 25, 201);
text-align: center;
text-align: justify;
font-size:50px ;}
body{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;}
.texto-vermelho{color: brown;}
